.sidebar {
  position: fixed;
  height: 100%;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 18px;
  box-shadow: 0px 0px 5px -2px #828282;
}

.sidebar-icons {
  text-align: center;
  width: 100%;
  padding-bottom: 18px;
}

.icon-wrapper:hover,
.selected.icon-wrapper {
  border-right: #202020 3px solid;
  cursor: pointer;
}

.material-icons {
  font-size: 42px;
  transition: transform 0.2s;
  margin-bottom: 12px;
  color: #999999;
  margin: 10px 0px;
}

.icon-wrapper:hover .material-icons,
.selected .material-icons {
  transform: scale(1.1);
  color: #202020;
}
