html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
}

.main-container {
  padding: 12px 24px 12px 154px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
